/* TGAT Overview */
.blue-box {
    background-color: #9292D1;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 1500px;
    margin: 20px auto;
    transition: transform 0.3s ease;
}
.blue-box:hover {
    transform: scale(1.1);
}

/* TGAT 1 */
.gat1-box {
    background-color: #C5D6BA;
    color: #000;
    padding: 20px;
    border-radius: 10px;
    width: 1500px;
    margin: 20px auto;
    transition: transform 0.3s ease;
}
.gat1-box:hover {
    transform: scale(1.11);
}

/* TGAT 2 */
.gat2-box {
    background-color: #bd3376;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 1500px;
    margin: 20px auto;
    transition: transform 0.3s ease;
}
.gat2-box:hover {
    transform: scale(1.1);
}

/* TGAT 3 */
.gat3-box {
    background-color: #2e3636;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 1500px;
    margin: 20px auto;
    transition: transform 0.3s ease;
}
.gat3-box:hover {
    transform: scale(1.1);
}

/* TGAT Usage */
.gatsss-box {
    background-color: #FFD1AD;
    color: #115f0e;
    padding: 20px;
    border-radius: 10px;
    width: 1500px;
    margin: 20px auto;
    transition: transform 0.3s ease;
}
.gatsss-box:hover {
    transform: scale(1.1);
}
.zoom {
    transition: transform 0.2s; /* กำหนดเวลาในการเปลี่ยนแปลง */
}

.zoom:hover {
    transform: scale(1.1); /* ขยายภาพ 1.1 เท่าเมื่อเลื่อนเมาส์มาวาง */
}
